.turisticos {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.atracciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 576px) {
  .atracciones {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}